@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html{
  scroll-behavior: smooth;
}

.App{
  width: 100%;
}
/**** STYLING THE NAVBAR *****/
.navbar{
  width: 100%;
  background: white;
  padding: 10px 80px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  z-index: 4;
  box-shadow: 4px 4px 2px 0 rgba(0,0,0,.2);
}
.logo-flex{
  display: flex;
  align-items: center;
}

.logo{
  width: 80px;
}
.logo-pic{
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.logo-name > p{
  margin-left: 10px;
  font-size: 25px;
  font-weight: 400;
  color: blue;
  letter-spacing: 2px; 
  text-shadow: 1px 1px 1px black
}
.menu a.active{
  color: red;
}
ul{
  display: flex;
  align-items: center;
  font-size: 18px; 
  font-weight: 400
}
li{
  list-style: none;
  padding: 8px 20px;
}
li a{
  text-decoration: none;
}
li:hover{
  border-bottom: 2px solid black;
}
.toggle, .close{
  display: none;
}
/**** STYLING THE HERO SECTION *****/
.hero{
  overflow: hidden;
  padding: 50px 100px 50px 100px;
}
.hero-flex{
  display: flex;
  column-gap: 60px;
}
.hero-sub-flex{
  padding: 15px 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.hero-picture{
  background: black;
  max-width: 200px;
  width: 200px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 80px;
}
.hero-writeup{
  margin-top: 20px;
  font-size: 14px;
}
.logistic-flex{
  max-width: 800px;
}
.logistic-flex h2{
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgba(0,0,0,.9);
}
/**** STYLING THE SLIDER ********/
.swiper-containers{
  overflow: hidden;
  padding: 50px 100px 0 100px;
}
.picture-container{
  width: 100%;
  height: 450px;
  position: relative;
}
.slide-pictures{
  /*THE WIDTH WAS STYLED INLINE*/
  height: 450px;
  object-position: center;
  object-fit: cover;
}
.picture-message{
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.swiper-pagination-bullet {
  background-color: white !important; /* Change this to your desired color */
}
/****** STYLING THE ABOUT PAGE *******/
.about{
  background: rgba(0,0,0);
  padding: 150px 30px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  color: white;
  overflow: hidden;
}
.about-us-heading{
  max-width: 300px;
  width: 100%;
  margin: 0 auto 100px auto;
  text-align: center;
  
}
.about-us-heading h2{
  font-size: 50px;
  font-weight: 600;
}
.about-us-details{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.about-image{
  max-width: 600px;
  width: 100%;
  height: 400px;
}
.about-pic{
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}
.about-writeup{
  max-width: 600px;
  width: 100%;
  line-height: 30px;
}
.about-writeup p{
  font-size: 20px;
  font-weight: 400;
}
.about-space{
  margin-bottom: 20px;
}
.about-core{
  margin: 150px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  
}
.mission, .values, .vision{
  max-width: 300px;
  width: 100%;
  min-height: 350px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.fa-rocket, .fa-lightbulb, .fa-gem{
  display: block;
  font-size: 100px;
  color: #0000FF;
  margin: 0 0 20px 0;
}
.mission h2, .values h2, .vision h2{
  margin: 0 0 10px 0;
  font-weight: 600;
}
/**** OUR SERVICES ******/
.services-container{
  background: #ffffff;
  overflow: hidden;
  padding: 150px 100px;
}
.services{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 60px 0;
}
.service-tittle{
  max-width: 350px;
  width: 100%;
  margin: 0 auto 100px auto;
}
.service-tittle h2{
  scroll-margin-top: 20px;
  font-size: 50px;
  font-weight: 600;
}
.service-image{
  background: #F5F5F4;
  max-width: 500px;
  width: 500px;
  height: 400px;
}
.service-pic{
  max-width: 100%;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.service-writeup{
  max-width: 500px;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.service-writeup h2{
  margin: 0 0 20px 0;
  font-weight: 500;
}
/**** STYLING THE CONTACT SECTION ******/
.contact-container{
  background: #FAF9F6;
  overflow: hidden;
  padding: 100px 200px;

}
.contact-tittle{
  max-width: 350px;
  width: 100%;
  margin: 0 auto 100px auto;
}
.contact-tittle h2{
  scroll-margin-top: 20px;
  font-size: 50px;
  font-weight: 600;
}
.contact-flex{
  border-top: 2px dotted #C0C0C0;
  margin: 10px 0;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.contact-flex h2{
  font-size: 30px;
  font-weight: 500;
  width: 200px;
}
.contact-flex-writeup{
  padding: 10px;
  max-width: 400px;
  width: 100%;
  line-height: 25px;
}
.contact-flex-writeup p{
  font-size: 1em;
  overflow-wrap: break-word;
}
.contact-flex-writeup p a{
  text-decoration: none;
  color: black;
}
.contact-flex-writeup .email-red, .email-redd{
  font-weight: bolder;
}
#telephone{
  color: black;
}
/**** STYLING THE FORM SECTION ***/
.form-container{

  padding: 50px 100px 100px 100px;
  position: relative;
}

.forms{
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 40px;
}
.input-container{
  max-width: 500px;
  width: 100%;
}
.message-container{
  max-width: 600px;
  width: 100%;

}
label{
  display: block;
  margin: 25px 0 8px 20px;
}
input{
  background: #FAF9F6;
  max-width: 500px;
  width: 100%;
  padding: 15px 5px;
  text-indent: 15px;
  border: 1px solid #FAF9F6;
  border-radius: 20px;
}
textarea{
  display: block;
  background: #FAF9F6;
  max-width: 600px;
  height: 300px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}
.btn{
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px 20px;
  cursor: pointer;
}
.form-message{
  background: #FAF9F6;
  max-width: 150px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 100px;
  color: red;
}

/**** styling the footer ****/
.footer{
  background: #000435;
  padding: 100px 80px;
}
.footer-container{
  color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
}
.office{
  max-width: 200px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.office h2{
  font-size: 30px;
  margin: 0 0 30px 0;
}
.tele a{
  text-decoration: none;
  color: #E5E5E5;
}
.copywrite{
  max-width: 360px;
  width: 100%;
  margin: 60px auto 0 auto;
  color: #E5E5E5;

}

/**** MEDIA QUERY ****/
/**** STYLING THE NAVBAR SECTION *****/
@media(max-width: 1124px){
  .menu{
    display: none;
  }
  .open{
    background: white;
    box-shadow: 4px 4px 2px 0 rgba(0,0,0,.2);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*top: 124px;
    left: 0;*/
    width: 100%;
    padding: 0 0 60px 0; 
    text-align: center;
    z-index: 5;
    transition: 0.4s;
    transform: translateX(-100%); 
  }
  .show{
    transform: translateX(0);
  }
  ul{
    display: block;
    margin-top: 100px;
  }
  li{
    margin: 10px 0 0 0;
    padding: 12px
  }
  li:hover{
    border-bottom: 0;
  }
  .close{
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 6px 10px
  }
  .close:hover{
    background:rgba(0,0,0,.8);
    border-radius: 20px;
    color: white;
  }
  .toggle{
    display: block;
  } 
}
@media(max-width: 766px){
  .logo-span{
    display: none;
  }
}
@media(max-width: 605px){
  .navbar{
    padding: 10px 50px;
  }
  .logo-name > p{
    margin-left: 10px;
    font-size: 18px;
    font-weight: 400;
    color: blue;
    letter-spacing: 2px; 
    text-shadow: 1px 1px 1px black
  }
}
@media(max-width: 472px){
  .navbar{
    padding: 10px 20px;
  }
}
@media(max-width: 411px){
  .logo{
    width: 60px;
  }
}
@media(max-width: 371px){
  .navbar{
    padding: 10px 20px;
  }
  .logo-name > p{
    margin-left: 5px;
    font-size: 13px; 
  }
}
@media(max-width: 330px){
  .navbar{
    padding: 10px 20px;
  }
  .logo-flex{
    display: flex;
    align-items: center;
    margin-right: 35px;
  }
  .logo{
    width: 50px;
  }
  .toggle{
    margin-right: 20px;
    position: absolute;
    top: 24px;
    right: 0px;
  }
}
@media(max-width: 305px){
  .navbar{
    padding: 10px;
  }
  .logo{
    width: 40px;
  }
  .toggle{
    margin-right: 10px; 
    top: 20px;
  }
}
/**** END OF THE NARVBAR STYLING*****/

/**** STYLING THE SLIDER ********/
@media(max-width: 1240px){
  .picture-message{
    font-size: 22px;
  }
}
@media(max-width: 1112px){
  .picture-message{
    font-size: 20px;
  }
}
@media(max-width: 1024px){
  .picture-message{
    font-size: 18px;
  }
}
@media(max-width: 780px){
  .swiper-containers{
    padding: 50px 50px 0 50px;
  }
}
@media(max-width: 680px){
  .swiper-containers{
    padding: 50px 0px 0 0px;
  }
}
@media(max-width: 580px){
  .picture-message{
    top: 50%;
    left: 40%;
    transform: translate(-40%,-50%);
    color: white;
    font-size: 25px;
  }
  .picture-message{
    font-size: 16px;
  }
}
@media(max-width: 360px){
  .picture-message{
    font-size: 14px;
  }
}
/****** END OF SLIDE STYLING *****/

/**** STYLING THE ABOUT SESSION *****/
@media(max-width: 939px){
  .about-us-details{
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .about-writeup{
    max-width: 800px;
    width: 100%;
    line-height: 30px;
  }
}
@media(max-width: 680px){
  .about{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
@media(max-width: 679px){
  .about-core{
    flex-direction: column;
  }
  .mission, .values, .vision{
    max-width: 400px;
    width: 100%;
  }
}
/**** THE END OF THE ABOUT SECTION *****/

/**** STYLING THE SERBICES ********/
@media(max-width: 1219px){
  .services-container{
    padding: 150px 60px;
  }
}
@media(max-width: 1139px){
  .service-writeup{
    max-width: 400px;
  }
}
@media(max-width: 1039px){
  .services-container{
    padding: 150px 20px;
  }
}
@media(max-width: 959px){
  .services{
    flex-direction: column;
    align-items: center;
  }
  .service-image{
    max-width: 600px;
    width: 100%;
    height: auto;
  }
  .service-pic{
    max-width: 100%;
    height: auto;
  }
  .service-writeup{
    max-width: 600px;
    width: 100%;
  }
}
@media(max-width: 489px){
  .services-container{
    padding: 80px 20px;
  }
  .service-tittle{
    margin: 0 auto 40px auto;
  }
}
/***** END OF STYLING THE SERVICES SECTION ****/

/**** STYLING THE CONTACT *****/
@media(max-width: 1002px){
  .contact-container{
    padding: 100px 100px;
  
  }
}
@media(max-width: 802px){
  .contact-container{
    padding: 100px 50px;
  
  }
  .hero-writeup{
    margin-top: 20px;
    font-size: 14px;
  }
}
@media(max-width: 702px){
  .contact-flex{
    flex-direction: column;
    align-items:center;
    row-gap: 20px;
  }
  .contact-flex h2{
    text-align: center;
  }
}
/****** END OF CONTACT US STYLING ******/

/**** STYLING THE FOOTER*******/
@media(max-width: 1019px){
  .footer-container{
    justify-content: unset;
    column-gap: 120px;
  }
}
@media(max-width: 992px){
  /***** STYLING THE HERO SECTION****/
  .logistic-flex h2{
    font-size: 60px;
  }
}

@media(max-width: 939px){
  /**** STYLING THE FOOTER*******/
  .footer-container{
    column-gap: 60px;
  }
}
@media(max-width: 900px){
  .forms{
    display: flex;
    flex-direction: column;
  }
  .form-message{
    top: 290px;
  }
}
@media(max-width: 879px){
  /**** STYLING THE FOOTER*******/
  .footer-container{
    column-gap: 40px;
  }
}
@media(max-width: 879px){
  /**** STYLING THE HERO SECTION ****/
  .hero-flex{
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
  }
  .hero-writeup{
    margin-bottom: 25px;
  }
}

@media(max-width: 839px){
  /**** STYLING THE FOOTER*******/
  .footer-container{
    column-gap: 10px;
  }
}
@media(max-width: 779px){
  /**** STYLING THE FOOTER*******/
  .footer-container{
   justify-content: space-between;
  }
}
@media(max-width: 666px){
  .form-container{
    padding: 50px 50px 100px 50px;
  }
}
@media(max-width: 599px){
  /***** STYLING THE HERO SECTION****/
  .logistic-flex h2{
    font-size: 40px;
    font-weight: 900;
  }
}
@media(max-width: 569px){
  /**** STYLING THE FOOTER*******/
  .footer{
    padding: 60px 40px;
  }
}
@media(max-width: 489px){
  /**** STYLING THE FOOTER*******/
  .footer-container{
    flex-direction: column;
    align-items: center;
  }
  .office{
    max-width: 300px;
    width: 100%;
  }
}
@media(max-width: 459px){
  /**** STYLING THE HERO SECTION ****/
  .hero-flex{
    align-items: center;
  }
  .form-container{
    padding: 50px 20px 100px 20px;
  }
}
@media(max-width: 340px){
  /***** STYLING THE HERO SECTION****/
  .logistic-flex h2{
    font-size: 35px;
    font-weight: bold;
  }
}
